html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/222/065/original/abstract-city-map-with-pins-navigation-app-screen-template-vector.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Roboto, Arial;
    margin: 0;
    padding: 0;
}

.Headings{
    color: rgb(29, 155, 240);
    font-size: 25px;
    font-weight: 750; 
    text-align: center;
    padding-top: 20px;
}

.location{
    margin-left: 20px;
    width: 350px;
    height: 35px;
    background: white;
    border-radius: 20px;
}

.button_label{
    padding: 15px;
}

#button1{
    margin-left: 10px;
    padding:2px;
    background: rgb(29, 155, 220);
    color: white;
    border: none;
    border-radius: 20px;
    width: 80px;
    font-weight: "bold";
    opacity: 1;
}

#button2{
    margin-left: 15px;
    padding:2px;
    background: white;
    color: black;
    border: none;
    border-radius: 20px;
    width: 80px;
    font-weight: "normal";
    opacity: 0.6;
}

.material-symbols-outlined{
    background: rgb(34,220,34);
    border-radius: 10px;
    border: none;
    width: 50px;
    color: white;
    margin-top: 15px;
}

.p-loc{
    flex:1;
}

.container{
    display: flex;
    flex-direction: row;
    row-gap: 25px;
    column-gap: 20px;;
    align-self: auto;
    margin-left: 20px;
    align-content: flex-start;
    border-bottom-width: 3px;
    border-style:solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-right: 20px
}

.big-container{
    background: white;
    border-color: rgb(29, 155, 240);
    border-radius: 15px;
    border-style:solid;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    bottom: 220px;
    max-height: 400px;
    height: 100%;
    max-width: 360px;
    width:100%;
}

.result{
    margin-left: 35px;
    padding: 8.5px 0 0px;
    width: 320px;
    height: 20px;
    overflow-y: hidden;
}

.material-symbols-sharp{
    padding: 5.2px 4px 0px;
    position: absolute;
}