html, body {
    margin: 0;
    padding: 0;
}

.Headings{
    color: rgb(29, 155, 240);
    font-size: 25px;
    font-weight: 750; 
    margin-left: 15px;
}

.location{
    margin-left: 15px;
    width: auto;
    height: auto;
    background: white;
    border-radius: 20px;
}

.button_label{
    padding: 15px;
}

#button1{
    margin-left: 15px;
    padding:2px;
    background: rgb(29, 155, 220);
    color: white;
    border: none;
    border-radius: 20px;
    width: 80px;
    font-weight: "bold";
    opacity: 1;
}

#button2{
    margin-left: 15px;
    padding:2px;
    background: white;
    color: black;
    border: none;
    border-radius: 20px;
    width: 80px;
    font-weight: "normal";
    opacity: 0.4;
}

.material-symbols-outlined{
    background: rgb(34,220,34);
    border-radius: 10px;
    border: none;
    width: 50px;
    color: white;
}


#favorite1, #favorite2{
    background: white;
    border-radius: 10px;
    border: none;
    width: 50px;
    color: rgb(29, 155, 220)
}

.optionBar{
    display: flex;
}