html, body.active-popup {
    margin: 0;
    padding: 0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/222/065/original/abstract-city-map-with-pins-navigation-app-screen-template-vector.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

body.active-popup .main{
    transition: filter 0ms ease-in-out 300ms;
}

body.active-popup .popup{
    opacity: 1;
    top: auto;
    transition: top 0ms ease-in-out 300ms,
                opacity 300ms ease-in-out,
                margin-top 300ms ease-in-out;
}

.main{
    transition: filter 0ms ease-in-out 300ms;
}

.popup{
    z-index: 9;
    position:absolute;
    top: -100%;
    width:80%;
    height:100%;
    background-color:rgb(232, 233, 252);
    border-radius: 10px;
}

.popup #closeButton{
    position: absolute;
    top: 5px;
    right: 10px;
    background-color:aliceblue;
    border-radius: 50%;

}

.popup .user{
    top: 50px;
    width: 80%;
    height:25px;
    padding: 10px;
}

.popup #favoritesButton{
    text-align:left;
    height: auto;
    border-radius: 5px;
    background-color: white;
    color: rgb(29, 155, 240);
    width:100%;
    font-size: 22px;
}

.popup #signInOut{
    text-align: left;
    border-radius: 5px;
    width:100%;
    color: rgb(29, 155, 240);
    font-size: 22px;
}

.popup .user #userLogo{
    color: rgb(29, 155, 240);
}

.menu{
    padding: 2%;
    background-color: white;
}

button{
    background-color: white;
    border: none;
}

.search_destination {
    background-color: white;
    margin: auto;
    width: 300px;
    height: auto;
    padding:5px;
    border-radius: 20px;
    border-color: rgb(29, 155, 240);
    border-width: 2px;
    border-style: solid;
}

.search_destination .input_textbox{
    width: 260px;
}

.input_textbox{
    border-style: none;
    outline: none;
}

.search_destination .search_button:active{
    transform: translate(0px, 2px);
    color: blue;
}

.parking_duration{
    position:absolute;
    bottom:120px;
    right:25%;
    left:50%;
    margin-left:-79.5px;
    width: 150px;
    height: auto;
    padding: 3px;
    background-color: white;
    border-radius:20px;
    border-color: rgb(29, 155, 240);
    border-style: solid;
    text-align: center;
    border-width: 2.5px;
}


.counter{
    position:absolute;
    bottom:10px;
    right:25%;
    left:50%;
    width: 170px;
    height: auto;
    margin-left:-106px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border-color: rgb(29, 155, 240);
    border-width: 2px;
    border-style: solid;
}


.counter .time_hour{
    width: 90px;
    padding: 3px;
    border-radius: 10px;
}


.counter .time_minute{
    width: 90px;
    padding: 3px;
    border-radius: 10px;
}

#openButton{
    cursor:pointer;
}

.user{
    display: grid;
    grid-template-columns: 30px 1fr;
}

#account{
    padding-top: 2px;
}